@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hp1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body{
    background: black;
    font-family: "Open Sans";
    z-index: 1;
}

main{
    position: relative;
    text-align: left;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: #222222;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    min-height: 550px;
    color: white;
    min-height: 100%;
}


.btn_wrapper{
    text-align: center;
}


.transform{
  positon: relative;
  display: block;
}

/* Add a black background color to the top navigation */
.navbar {
  overflow: hidden;
  height: 46px;
  transition: height 600ms ease;
  display: flex;
  flex-wrap: wrap;
}

.shopping-cart{
    position: absolute;
    margin-top: 14px;
    margin-left: 90%;
    margin-right: 5%;
    color: white;
}

.shopping-cart-circle{
    position: absolute;
    left: 11px;
    bottom: 8px;
    color: #FF3200;
    font-size: 16;
}

.shopping-cart-number{
    position: absolute;
    left: 16px;
    bottom: 8px;
    color: white;
    font-size: 12;
    font-weight: 600;
}

.logo{
    flex: 0 1 auto;
    padding-top: 6px;
    height: 46px;
    width: 80px;
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
}

.logo img{
  position: relative;
  width: 47%;
}

.menu-btn {
  position: relative;
  top: 15px;
  margin-left: 4%;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20px;
  height: 10px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 20px;
  height: 2px;
  background: white;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: white;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-7px);
}
.menu-btn__burger::after {
  transform: translateY(7px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.pagelinks{
  margin-top: 15px;
  margin-bottom: 30px;
  display: none;
  width: 100%;
  line-height: 2.3em;
}

.pagelink{
  font-size: 21;
  font-weight: 100;
  color: white;
  margin-left: 4%;
}

.pagelink:visited{
    color: white;
}



.page-title{
  text-align: left;
  margin-left: 2%;
  margin-top: 10px;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 25;
}

.page_title{
  font-size: 24;
  font-weight: 500;
}



.join {
    background: #222222;
    padding: 3.5%;
    padding-top: 12px;
    padding-bottom: 15px;
    color: white
}

.join h2 {
  border-top: 1px solid grey;
  padding-top: 8px;
  font-size: 24;
  font-weight: 300;
  margin-left: 1%;
  margin-right: 1%;
}

.join p{
  margin-top: 7px;
  margin-bottom: 8px;
  margin-left: 1%;
  margin-right: 1%;
}

.email {
  border-radius: 15px;
  background: #424242;
  border: 0px;
  border-radius: 11px;
  height: 30px;
  width: 75%;
  padding-left: 1.5%;
  font-size: 16;
  outline: none;
  margin-bottom: 2.5%;
}

.submit{
  width: 23%;
  height: 30px;
  background: #FF3200;
  border-radius: 11px;
  border: none;
  font-size: 17;
  font-weight: 100;
  color: white;
  outline: none;
  cursor: pointer;
}

.agree{
  margin-left: 1%;
}

.terms_of_use{
  color: #C03B1B
}

footer{
  background: #222222;
}

footer p{
  border-top: 1px solid grey;
  padding-top: 4px;
  margin-left: 4%;
  margin-right: 4%;
}

footer p a{
  text-align: left;
  margin-left: 2%;
  color: #787777;
  display: block
}

.footer_link:visited{
  color: #787777;
}



/*-------------FULLSIZE------------*/


@media screen and (min-width: 500px) {
  .links div{
    height: 30%;
  }
}

@media screen and (min-width: 810px) {
  /*---------BASE-------*/
  body{
    background: #222222
  }
  main{
    top: 6%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin-right: 10%;
    margin-left: 10%;
  }

  .join{
    display: none;
    }

  footer{
    position: relative;
    top: 6%;
    margin-bottom: 2%;
  }

  /*------NAVBAR-----*/
  .menu-btn{
    display: none;
  }
  .navbar{
    position: fixed;
    top: 0;
    white-space: nowrap;
    width: 100%;
    z-index: 1;
    background: black;
  }

    .shopping-cart{
        position: absolute;
        margin-top: 14px;
        margin-left: 95%;
        margin-right: 5%;
        color: white;
    }

    .logo{
        flex: 0 1 auto;
        padding-top: 6px;
        height: 46px;
        width: 80px;
        position: relative;
        position: absolute;
        left: 2%;
        transform: none;
    }

    .logo img{
        position: relative;
        width: 47%;
    }

    footer p{
      padding-left: 8%;
    }

  .pagelinks{
    display: inline-block;
    width: 70%;
    position: relative;
    margin-left: 20%;;
    margin-right: 3%;
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .pagelinks li{
    margin-left: 7%;
    white-space: nowrap;
    display: inline-block;
  }
  .pagelink{
    width: 10%;
    padding: 3%;
  }
  .pagelink:hover{
    background: #333333;
    border-radius: 5px;
  }

    .cart-pagelink{
        display: none;
    }

  /*--------HOME--------*/
  .page_title{
    margin-top: 2%;
  }

}

@media screen and (min-height: 800px) {
}

@media screen and (min-width: 1000px) {

    footer p a{
      text-align: center;
      margin-left: 2%;
      color: #787777;
      display: inline-block
    }
}

@media screen and (min-width: 1400px) {
    main{
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (min-width: 1550px) {
    main{
      margin-left: 15%;
    }
}

@media screen and (min-width: 1750px) {
    main{
      margin-right: 20%;
    }
}