.back_link_container{
    text-align: left;
    margin-left: 2%;
    margin-bottom: 3%;
    font-size: 17px;
    color: #c5c5c5;
}

.back-link-icon{
    margin-right: 0.5%;
    font-size: 15px;
}

.back_link:visited{
    color: #c5c5c5;
}


.transactionId-guide{
    padding-left: 2%;
    padding-right: 2%;

}

.guide-step{
    font-size: 17;
    padding-bottom: 5px;
}


@media screen and (min-width: 1000px) {

    main{
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 1600px) {

    main{
        padding-left: 15%;
        padding-right: 15%;
    }
}